MF0491_3CLIENTE/UF1841/E2/dtd cb canarias.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2011 sp1 (http://www.altova.com)-->
<!ELEMENT pivots ((jugador+))>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT jugadores ((bases, escoltas, aleros, ala_pivots, pivots))>
<!ELEMENT jugador ((nombre, dorsal))>
<!ELEMENT escoltas ((jugador+))>
<!ELEMENT equipo ((jugadores, cuerpo_tecnico))>
<!ELEMENT entrenador (#PCDATA)>
<!ELEMENT dorsal (#PCDATA)>
<!ELEMENT cuerpo_tecnico ((entrenador, ayudantes_entrenador))>
<!ELEMENT cbcanarias ((equipo))>
<!ELEMENT bases ((jugador+))>
<!ELEMENT ayudantes_entrenador ((nombre+))>
<!ELEMENT aleros ((jugador+))>
<!ELEMENT ala_pivots ((jugador+))>
