MF0491_3CLIENTE/UF1841/E2/xml schema cb canarias.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="pivots">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="jugador" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="nombre">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Colton Iverson"/>
				<xs:enumeration value="Davin White"/>
				<xs:enumeration value="Ferran Basas"/>
				<xs:enumeration value="Gillet"/>
				<xs:enumeration value="Javier_Beiran"/>
				<xs:enumeration value="Luca_Staiger"/>
				<xs:enumeration value="Marco Justo"/>
				<xs:enumeration value="Nacho Yañez"/>
				<xs:enumeration value="Nico Brusino"/>
				<xs:enumeration value="Nico Richotti"/>
				<xs:enumeration value="Petit Niang"/>
				<xs:enumeration value="Rodrigo San Miguel"/>
				<xs:enumeration value="Sebas Saiz"/>
				<xs:enumeration value="Thad Macfadden"/>
				<xs:enumeration value="Tim Abromaitis"/>
				<xs:enumeration value="Tomasz Gielo"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="jugadores">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bases"/>
				<xs:element ref="escoltas"/>
				<xs:element ref="aleros"/>
				<xs:element ref="ala_pivots"/>
				<xs:element ref="pivots"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="jugador">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="nombre"/>
				<xs:element ref="dorsal"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="escoltas">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="jugador" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="equipo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="jugadores"/>
				<xs:element ref="cuerpo_tecnico"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="entrenador">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Txus Vidorreta"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="dorsal">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="0"/>
				<xs:enumeration value="1"/>
				<xs:enumeration value="10"/>
				<xs:enumeration value="11"/>
				<xs:enumeration value="12"/>
				<xs:enumeration value="21"/>
				<xs:enumeration value="31"/>
				<xs:enumeration value="33"/>
				<xs:enumeration value="34"/>
				<xs:enumeration value="4"/>
				<xs:enumeration value="5"/>
				<xs:enumeration value="6"/>
				<xs:enumeration value="7"/>
				<xs:enumeration value="9"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="cuerpo_tecnico">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="entrenador"/>
				<xs:element ref="ayudantes_entrenador"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="cbcanarias">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="equipo"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="bases">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="jugador" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ayudantes_entrenador">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="nombre" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="aleros">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="jugador" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ala_pivots">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="jugador" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
