MF0492_SERVIDOR/UF1846/Exam Practico/ClienteWebService/xml-resources/web-service-references/Servicio/wsdl/localhost_8080/WebService/Servicio.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicio.webservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicio.webservice/" name="Servicio">
<types>
<xsd:schema>
<xsd:import namespace="http://servicio.webservice/" schemaLocation="http://localhost:8080/WebService/Servicio?xsd=1"/>
</xsd:schema>
</types>
<message name="Neperiano">
<part name="parameters" element="tns:Neperiano"/>
</message>
<message name="NeperianoResponse">
<part name="parameters" element="tns:NeperianoResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="Cos">
<part name="parameters" element="tns:Cos"/>
</message>
<message name="CosResponse">
<part name="parameters" element="tns:CosResponse"/>
</message>
<message name="Tan">
<part name="parameters" element="tns:Tan"/>
</message>
<message name="TanResponse">
<part name="parameters" element="tns:TanResponse"/>
</message>
<message name="Sin">
<part name="parameters" element="tns:Sin"/>
</message>
<message name="SinResponse">
<part name="parameters" element="tns:SinResponse"/>
</message>
<message name="Logaritmo">
<part name="parameters" element="tns:Logaritmo"/>
</message>
<message name="LogaritmoResponse">
<part name="parameters" element="tns:LogaritmoResponse"/>
</message>
<message name="Raiz">
<part name="parameters" element="tns:Raiz"/>
</message>
<message name="RaizResponse">
<part name="parameters" element="tns:RaizResponse"/>
</message>
<message name="Dividir">
<part name="parameters" element="tns:Dividir"/>
</message>
<message name="DividirResponse">
<part name="parameters" element="tns:DividirResponse"/>
</message>
<message name="Restar">
<part name="parameters" element="tns:Restar"/>
</message>
<message name="RestarResponse">
<part name="parameters" element="tns:RestarResponse"/>
</message>
<message name="Sumar">
<part name="parameters" element="tns:Sumar"/>
</message>
<message name="SumarResponse">
<part name="parameters" element="tns:SumarResponse"/>
</message>
<message name="Multiplicar">
<part name="parameters" element="tns:Multiplicar"/>
</message>
<message name="MultiplicarResponse">
<part name="parameters" element="tns:MultiplicarResponse"/>
</message>
<portType name="Servicio">
<operation name="Neperiano">
<input wsam:Action="http://servicio.webservice/Servicio/NeperianoRequest" message="tns:Neperiano"/>
<output wsam:Action="http://servicio.webservice/Servicio/NeperianoResponse" message="tns:NeperianoResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://servicio.webservice/Servicio/helloRequest" message="tns:hello"/>
<output wsam:Action="http://servicio.webservice/Servicio/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="Cos">
<input wsam:Action="http://servicio.webservice/Servicio/CosRequest" message="tns:Cos"/>
<output wsam:Action="http://servicio.webservice/Servicio/CosResponse" message="tns:CosResponse"/>
</operation>
<operation name="Tan">
<input wsam:Action="http://servicio.webservice/Servicio/TanRequest" message="tns:Tan"/>
<output wsam:Action="http://servicio.webservice/Servicio/TanResponse" message="tns:TanResponse"/>
</operation>
<operation name="Sin">
<input wsam:Action="http://servicio.webservice/Servicio/SinRequest" message="tns:Sin"/>
<output wsam:Action="http://servicio.webservice/Servicio/SinResponse" message="tns:SinResponse"/>
</operation>
<operation name="Logaritmo">
<input wsam:Action="http://servicio.webservice/Servicio/LogaritmoRequest" message="tns:Logaritmo"/>
<output wsam:Action="http://servicio.webservice/Servicio/LogaritmoResponse" message="tns:LogaritmoResponse"/>
</operation>
<operation name="Raiz">
<input wsam:Action="http://servicio.webservice/Servicio/RaizRequest" message="tns:Raiz"/>
<output wsam:Action="http://servicio.webservice/Servicio/RaizResponse" message="tns:RaizResponse"/>
</operation>
<operation name="Dividir">
<input wsam:Action="http://servicio.webservice/Servicio/DividirRequest" message="tns:Dividir"/>
<output wsam:Action="http://servicio.webservice/Servicio/DividirResponse" message="tns:DividirResponse"/>
</operation>
<operation name="Restar">
<input wsam:Action="http://servicio.webservice/Servicio/RestarRequest" message="tns:Restar"/>
<output wsam:Action="http://servicio.webservice/Servicio/RestarResponse" message="tns:RestarResponse"/>
</operation>
<operation name="Sumar">
<input wsam:Action="http://servicio.webservice/Servicio/SumarRequest" message="tns:Sumar"/>
<output wsam:Action="http://servicio.webservice/Servicio/SumarResponse" message="tns:SumarResponse"/>
</operation>
<operation name="Multiplicar">
<input wsam:Action="http://servicio.webservice/Servicio/MultiplicarRequest" message="tns:Multiplicar"/>
<output wsam:Action="http://servicio.webservice/Servicio/MultiplicarResponse" message="tns:MultiplicarResponse"/>
</operation>
</portType>
<binding name="ServicioPortBinding" type="tns:Servicio">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Neperiano">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Cos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Tan">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Sin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Logaritmo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Raiz">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Dividir">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Restar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Sumar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Multiplicar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Servicio">
<port name="ServicioPort" binding="tns:ServicioPortBinding">
<soap:address location="http://localhost:8080/WebService/Servicio"/>
</port>
</service>
</definitions>